<div class="form-radio margin-bottom">
    <input
        name="{{id}}"
        type="radio"
        id="radio-{{@index}}"
        {{#if checked}}checked{{/if}}
        data-id="{{id}}">
    <label for="radio-{{@index}}">
        {{caption}}
    </label>
    {{#if usershelper}}
    {{> usershelper}}
    {{/if}}
</div>