<div class="input-group">
    <span class="input-group-text">{{caption}}</span>
    <textarea
        class="form-control"
        id="textarea-{{caption}}"
        placeholder="{{placeholder}}"
        data-id="{{id}}">{{caption}}</textarea>
</div>
{{#if usershelper}}
{{> usershelper}}
{{/if}}