<div class="input-group">
    <span class="input-group-text">{{id}}</span>
    <textarea
        class="form-control"
        id="textarea-{{id}}"
        placeholder="{{placeholder}}">{{caption}}</textarea>
</div>
{{#if usershelper}}
<small class="form-text text-muted mb-3">{{usershelper}}</small>
{{/if}}