<div class="form-radio margin-bottom">
    <input
        type="radio"
        class="form-radio"
        name="{{id}}"
        data-name="{{caption}}"
        id="radio-{{@index}}"
        {{#if value}}checked{{/if}}>
    <label for="radio-{{@index}}">
        {{caption}}
    </label>
    {{#if usershelper}}
    {{> usershelper}}
    {{/if}}
</div>