{{!-- hay que pasar la variable del contexto --}}
{{#if (eq icon.type "class")}}
  <i class="icon {{concat "icon-" context}} {{icon.value}}"></i>
{{else if (eq icon.type "svg")}}
  <div class="icon {{concat "icon-" context}} svg-icon">
    {{{icon.value}}}
  </div>
{{else}}
  <i class="icon {{concat "icon-" context}} {{icon}}"></i>
{{/if}}
