 <div class="form-group margin-bottom">
    <label class="form-label" for="{{caption}}">{{caption}}</label>
    <input
        name="{{caption}}"
        type="text"
        class="form-input"
        id="{{caption}}"
        placeholder="{{placeholder}}"
        value="{{value}}">
    {{#if usershelper}}
    {{> usershelper}}
    {{/if}}
</div>
