 <div class="form-group margin-bottom">
    <label class="form-label" for="{{id}}">{{caption}}</label>
    <input
        name="{{id}}"
        type="text"
        class="form-input"
        id="{{id}}"
        placeholder="{{placeholder}}"
        value="{{value}}"
        data-id="{{id}}">
    {{#if usershelper}}
    {{> usershelper}}
    {{/if}}
</div>
