 <div class="input-group">
    <span class="input-group-text">{{caption}}</span>
    <input
        name="{{id}}"
        type="text"
        class="form-control"
        id="input-{{caption}}"
        placeholder="{{placeholder}}"
        value="{{value}}"
        data-id="{{id}}">
</div>
{{#if usershelper}}
{{> usershelper}}
{{/if}}
<div class="mb-2"></div>
