<div class="form-group margin-bottom">
    <label class="form-label">{{caption}}</label>
    <textarea
        class="form-textarea"
        id="textarea-{{caption}}"
        placeholder="{{placeholder}}"
        data-id="{{id}}">{{caption}}</textarea>
    {{#if usershelper}}
    {{> usershelper}}
    {{/if}}
</div>