<!-- partials/contextmenu.hbs -->
<li >
    <a href="{{url}}"
        class="context-item"
        data-name="{{caption}}"
        data-type="{{type}}">

        {{> component_i context="nav"}}

        {{#if caption}}
        {{!-- Truncado a 20 caracteres --}}
        <span class="context-text" title="{{caption}}">
            {{truncate caption 20}}
        </span>
        {{/if}}

        {{#if badge}}
        {{> component_badge badge}}
        {{/if}}
    </a>
</li>