{{#if (eq type "component")}}
<li class="nav-item">
    <div id="{{id}}">
        {{#if properties}}
        {{> component_button}}
        {{else}}
        <p>Definir propiedades.</p>
        {{/if}}
    </div>
</li>
{{else}}
<li class="{{classNames li_class 'nav-item'}}{{#if children}} expanded{{/if}}"
    {{> attributes attrs=li_attr}}>
    <div class="{{classNames 'nav-link-container'}}{{#if active}} active{{/if}}"
        data-name="{{caption}}"
        data-type="{{type}}"
        data-url="{{url}}">
        <a href="{{url}}"
            class="{{classNames 'nav-link' a_class}}"
            {{> attributes attrs=a_attr}}>
            {{> component_i context="nav"}}

            {{#if caption}}
            <span class="nav-text" title="{{caption}}">
                {{caption}}
            </span>
            {{/if}}

            {{#if badge}}
            {{> component_badge badge}}
            {{/if}}
        </a>
        {{#showToolsBox type children}}
        <div class="tools-box">
            {{#when type 'noteq' 'content'}}
            <button class="button-tool button-delete" title="Borrar"
                aria-label="Borrar">
                <i class="bi bi-trash3"></i>
            </button>
            {{/when}}

            {{#if (eq type 'folder')}}
            <button class="button-tool button-add-file"
                title="Agregar Documento" aria-label="Agregar documento">
                <i class="bi bi-file-earmark-plus"></i>
            </button>
            <button class="button-tool button-add-folder"
                title="Agregar Carpeta" aria-label="Agregar carpeta">
                <i class="bi bi-folder-plus"></i>
            </button>
            {{> button_collapse expanded}}
            {{/if}}
        </div>
        {{/showToolsBox}}
    </div>

    {{#if children}}
    <ul class="nav-item nav-submenu">
        {{#each children}}
        {{> menuitem }}
        {{/each}}
    </ul>
    {{/if}}
</li>
{{/if}}
