<!-- partials/menuitem.hbs -->
{{#if (eq type "component")}}
<li class="nav-item">
    <div id="{{id}}">
        {{#if properties}}
        {{> component_button}}
        {{/if}}
    </div>
</li>
{{else}}
<li class="nav-item{{#if children}} expanded{{/if}}{{li_class}}"
    {{#each li_attr}} {{@key}}="{{this}}" {{/each}}>
    <a href="{{url}}" class="nav-link {{#if active}}active{{/if}} {{a_class}}"
        data-name="{{caption}}"
        data-type="{{type}}"
        {{#each a_attr}}{{@key}}="{{this}}" {{/each}}>

        {{> component_i}}

        {{#if caption}}
        <!-- Truncado a 20 caracteres -->
        <span class="nav-text" title="{{caption}}">{{truncate caption
            20}}</span>
        {{/if}}

        {{#if children}}
        <!-- Contenedor tool-box con botón chevron -->
        <div class="tools-box">
            <button class="button-collapse expanded"
                aria-label="Expandir/Contraer">
                <i class="bi bi-chevron-right menu-collapse"></i>
            </button>
        </div>
        {{/if}}

        {{#if badge}}
        <span class="badge text-bg-{{badge.color}}">
            <i class="{{badge.icon}}"> </i>{{badge.text}}
        </span>
        {{/if}}
    </a>

    {{#if children}}
    <ul class="nav-item nav-submenu">
        {{#each children}}
        {{> menuitem }}
        {{/each}}
    </ul>
    {{/if}}
</li>
{{/if}}