<!-- partials/projectIem.hbs -->
<li class="node-item {{#if state.node_open}}node-open{{/if}} {{li_class}}" 
    {{#each li_attr}} {{@key}}="{{this}}" {{/each}}>
    <a  class="node-link {{#if active}}active{{/if}} {{a_class}}"
        data-name="{{caption}}" 
        data-type="{{type}}" 
        data-id="{{id}}"
        {{#each a_attr}} {{@key}}="{{this}}" {{/each}}>
        {{> component_i}}
        {{#if caption}}
            <p>
                <!-- Truncado a 20 caracteres -->
                <span title="{{caption}}">{{truncate caption 20}}</span>
                {{#if children}}
                    <i class="node-arrow bi bi-chevron-right"></i>
                {{/if}}
            </p>
        {{/if}}
        {{#if badge}}
            <span class="nav-badge badge text-bg-{{badge.color}} me-3">
                <i class="{{badge.icon}}"> </i>{{badge.text}}
            </span>
        {{/if}}
    </a>

    {{#if children}}
    <ul class="node-list flex-column">
        {{#each children}}
            {{> projectitem }}
        {{/each}}
    </ul>
    {{/if}}
</li>
