<div class="card margin-bottom">
    <div class="card-header">
        <h3 class="card-title">
            {{> component_i context="card"}}
            {{caption}} <!-- Título de la tarjeta -->
        </h3>
        <div class="tools-box">
            <button class="button-tool button-collapse expanded"
                aria-label="Expandir/Contraer">
                <i class="bi bi-chevron-right card-collapse"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        {{#if usershelper}}
        <div class="{{usershelper.class}}">
            {{usershelper.caption}}
        </div>
        <div class="margin-bottom"></div>
        {{/if}}

        <div class="card card-glow margin-bottom-lg">
            <form id="properties-form-{{id}}" class="card-body"
                data-id="{{../id}}">
                {{#if (eq type "input-group")}}
                {{#each properties}}
                {{> component_input id=../../id}}
                {{/each}}

                {{else if (eq type "textarea-group")}}
                {{#each properties}}
                {{> component_textarea id=../../id}}
                {{/each}}

                {{else if (eq type "checkbox-group")}}
                {{#each properties}}
                {{> component_checkbox id=../../id}}
                {{/each}}

                {{else if (eq type "radio-group")}}
                {{#each properties}}
                {{> component_radio id=../../id}}
                {{/each}}
                {{/if}}
                <button type="submit"
                    class="button secondary save-node-properties">Guardar</button>
            </form>
        </div>
        <div class="card card-glow margin-bottom-lg">
            <div id="node-info-{{../id}}" class="card-body">
                <div class="margin-bottom"></div>
                <span class="text-info">Propertie info</span>
                <div class="margin-bottom-lg">
                    <div>
                        <span class="badge badge-sm badge-info">Order:
                            {{order}}</span>
                        <span class="badge badge-sm badge-success">Caption:
                            {{caption}}</span>
                        <span class="badge badge-sm badge-primary">Type:
                            {{type}}</span>
                    </div>
                </div>
                {{#with icon}}
                {{> component_input caption=(concat "icon " type) value=value}}
                {{/with}}
                <button type="submit"
                    class="button secondary save-node-info">Guardar</button>
            </div>
        </div>
    </div>
</div>
