<div class="card margin-bottom expanded">
    <div class="card-header bg-warning">
        <h3 class="card-title">
            {{> component_i context="card"}}
            {{caption}} propertie
        </h3>
        <div class="tools-box">
            {{> button_collapse expanded}}
        </div>
    </div>
    <div class="card-body">
        {{#if usershelper}}
        <div class="{{usershelper.class}}">
            {{usershelper.caption}}
        </div>
        <div class="margin-bottom"></div>
        {{/if}}

        <div class="card card-glow margin-bottom-lg expanded">
            <form id="properties-form-{{id}}" class="card-body"
                data-id="{{id}}">
                <div class="form-container two-columns">
                    {{#if (eq type "input-group")}}
                    {{#each properties}}
                    {{> component_input id=../id}}
                    {{/each}}

                    {{else if (eq type "textarea-group")}}
                    {{#each properties}}
                    {{> component_textarea id=../id}}
                    {{/each}}

                    {{else if (eq type "checkbox-group")}}
                    {{#each properties}}
                    {{> component_checkbox id=../id}}
                    {{/each}}

                    {{else if (eq type "radio-group")}}
                    {{#each properties}}
                    {{> component_radio id=../id}}
                    {{/each}}
                    {{/if}}
                </div>
                <button type="submit"
                    class="button secondary save-node-properties">
                    Guardar
                </button>
            </form>
        </div>
        {{> card_propertie_info}}
    </div>
</div>
