<div class="card margin-bottom">
    <div class="card-header">
        <h3 class="card-title">
            {{> component_i context="card-title"}}
            {{caption}} <!-- Título de la tarjeta -->
        </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool"
                data-lte-toggle="card-collapse">
                <i data-lte-icon="expand" class="bi bi-plus-lg"></i>
                <i data-lte-icon="collapse" class="bi bi-dash-lg"></i>
            </button>
        </div> <!-- /.card-tools -->
    </div> <!-- /.card-header -->
    <div class="card-body">

        {{#with properties}}
        {{#if (eq type "heading")}}
        {{> component_heading}}
         <div class="margin-bottom"></div>
        {{/if}}
        {{#if properties}}

        {{#if usershelper}}
        {{> usershelper}}
         <div class="margin-bottom"></div>
        {{/if}}
        <div class="card margin-bottom-lg">
            <div class="card-body">
                {{#if (eq type "input-group")}}
                {{!-- Input Group --}}
                {{#each properties}}
                {{> component_input id=../../id}}
                {{/each}}

                {{else if (eq type "textarea-group")}}
                {{!-- Textarea Group --}}
                {{#each properties}}
                {{> component_textarea id=../../id}}
                {{/each}}

                {{else if (eq type "checkbox-group")}}
                {{!-- Checkbox Group --}}
                {{#each properties}}
                {{> component_checkbox id=../../id}}
                {{/each}}

                {{else if (eq type "radio-group")}}
                {{!-- Radio Group --}}
                {{#each properties}}
                {{> component_radio id=../../id}}
                {{/each}}

                {{/if}}
            </div>
        </div>

        {{/if}}
        {{/with}}
        {{!-- node info --}}
        <div class="margin-bottom"></div>
        <div class="card">
            <div class="card-header">
                <span class="text-info">
                    Node info
                </span>
            </div>
            <div class="card-body">
                <div class="margin-bottom-lg">
                    <div class>
                        <span class="badge badge-sm badge-info">Id:
                            {{id}}</span>
                        <span class="badge badge-sm badge-info">Order:
                            {{properties.order}}</span>
                        <span class="badge badge-sm badge-success">Caption:
                            {{caption}}</span>
                        <span class="badge badge-sm badge-primary">Type:
                            {{type}}</span>
                    </div>
                </div>
                {{#with icon}}
                {{> component_input caption=(concat "icon " type) value=value}}
                {{/with}}
            </div>
        </div>

    </div> <!-- /.card-body -->
</div> <!-- /.card -->
